@import "tailwindcss";

body {
  font-family: var(--font-sans);
  background-color: #fdfdfd;
  color: #1a1a1a;
}

body[dir="rtl"] {
  font-family: var(--font-arabic);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
}

body[dir="rtl"] h1,
body[dir="rtl"] h2,
body[dir="rtl"] h3 {
  letter-spacing: 0;
}

.serif {
  font-family: var(--font-serif);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
